/* 全体 */
body {
	background-image:url("p0113_m.jpg"); /* 背景色  */
	background-size: 100px 100px;              /* 全画面 */
	background-repeat: round;
	text-align: center; /* 中央寄せ */
    min-width: 900px; /* 最小幅 */
}

h3{text-align: center;
	
}

.right{
	margin-right: auto;
}

/* ヘッダー内見出し */
h1 {
	font-size: 30pt;
	color: #011A27;
	margin: 10px auto;
}
/* ヘッダー、ナビゲーションメニュー、フッター */
header {
	background-image:url("p0113_m.jpg");   
	font-family: "Courier";
	color: 	rgb(240, 129, 15);  
	padding-top: 5px;  
	padding-bottom: 5px; 
}

.header_search input{
	display: inline-block;
	width: 140px;
	height: 24px;
	border:1px solid #011A27;
	background: #FFFFFF;
	margin:0 4px 0 0;
}

/*フォーム全体を中央へ*/
#form1{
  display: flex;
  justify-content: center; 	
  height:50px;
}

#form2{
  display: flex;
  justify-content: center; 	
  height:50px;
}

/*入力フォーム*/
#sbox1{
  width:250px;
  padding:0 15px;
  border-radius:4px 0 0 4px;
  background:#FFFFFF;/*背景カラー*/
  border:2px solid #063852;/*枠線の指定*/
  border:none;/*枠線の右側だけ削除*/
  outline:0;
}

#sbox2{
  width:250px;
  padding:0 15px;
  border-radius:4px 0 0 4px;
  background:#FFFFFF;/*背景カラー*/
  border:2px solid #063852;/*枠線の指定*/
  border:none;/*枠線の右側だけ削除*/
  outline:0;
}

/*検索ボタン*/
#sbtn2{
  width:50px;
  border-radius:0 4px 4px 0;
  background:#7fbfff;
  border:none;
  color:#063852;
  font-size:18px;
  cursor: pointer;
}

#sbtn3{
  width:50px;
  border-radius:0 4px 4px 0;
  background:#7fbfff;
  border:none;
  color:#063852;
  font-size:18px;
  cursor: pointer;
}

#sbtn2:hover{
background: #E6DF44;
}

#sbtn3:hover{
background: #E6DF44;
}

a{color:  #011A27};

.tooltip{
  cursor: pointer;
  padding: 0 5px;
  font-size: 0.9em;
  color: #011A27;
}
/*.description_bottom{*/
/*	 width: 700px;  横幅 */
/*  position: absolute;*/
/*  top: 40%;  Y軸の位置 */
/*  left: 100%;*/
/*  transform: translateX(-100%);*/
/*  margin-top: 1px;  テキストとの距離 */
/*  padding: 10px;*/
/*  background-color: #FFFFFF;*/
/*  font-size: 1em;*/
/*  color: #011A27;*/
/*  text-align: right;*/
/*  visibility: hidden;  ツールチップを非表示に */
/*  opacity: 50;  不透明度を0％に */
/*  z-index: 1;*/
/*  transition: 0.5s all; */
/*}*/
.tooltip:hover .description_bottom{
	top: 40%;
	 visibility: visible;
	 opacity: 1;
}


/* 仕切り線 */
hr {
	border-top: 2px solid #011A27;
}
/* メイン */
main {
	background-color: #FFFFFF;
	min-height: 50px;
	padding: 20px;
}
/* 表線 */
table, th, td {
	border-collapse: collapse;
	border: 1px solid #011A27;
}
/* 表 */
table {
    margin: 5px auto;
    min-width: 800px;
}
/* 表見出しセル */
table th {
	background: #FFFFFF;
	color: #011A27;
}
.hoge_button{
	text-align: center;
}

input[type="button"]{
	margin: 2px;
	padding: 5px 20px;
	background-color: #6633FF;
	color: #ffffff;
	border: none;
	width:150px;
	cursor: pointer;
}

/* 送信ボタン */
/*button {*/
/*	margin: 2px;*/
/*	padding: 5px 20px;*/
/*	background-color: #FFA500;*/
/*	color: #011A27;*/
/*	border: none;*/
/*	width:150px;*/
/*	cursor: pointer;*/
/*}*/
/* 送信ボタン(マウスオーバー時) */
button:hover {
	background-color: #FFFF88;
}