.containerPass {
	display: flex;
	justify-content: center;
	align-items: center;

}

.input-container {
	position: relative;
	display: flex;
	align-items: center;
}

input[type="password"] {
	box-sizing: border-box;
}

#eye {
	position: absolute;
	right: 10px;
	cursor: pointer;
}