@charset "UTF-8";

/* 全体 */
body {
	background-image: url("p0113_m.jpg");
	/* 背景画像  */
	background-size: 100px 100px;
	/* 全画面 */
	background-repeat: round;
	color: #011A27;
	text-align: center;
	/* 中央寄せ */
	min-width: 900px;
	/* 最小幅 */
}

/* ヘッダー、ナビゲーションメニュー、フッター */
header {
	background-image: url("../img/p0116_m.jpg");
	/*背景画像 */
	background-attachment: fixed;
	color: #011A27;
	/* 文字色 */
	padding-top: 0px;
	/* 内側余白(上) */
	padding-bottom: 0px;
	/* 内側余白(下) */
}

/*hr.style1 {*/
/*	border-top: 1px dashed #8c8b8b;*/
/*}*/

.oyaBox{
	width: 100%;
	/* 横幅を200pxに指定 */
	height: 500px;
	/* 高さを200pxに指定 */
}
.box {
	width: auto;
	/* 横幅を200pxに指定 */
	height: 100%;
	/* 高さを200pxに指定 */
	position: relative;
	animation: image_anime 20s ease infinite;
	/* 3秒のアニメーションを繰り返す */
	object-fit: contain;
}

@keyframes image_anime {
	0% {
		background-image: url(../img/Imagecherry.jpg);
		/* 背景画像1を指定 */
		background-size: contain;
    	background-repeat: no-repeat;
    	background-position: center;
	}

	20% {
		background-image: url(../img/Imagekoke.jpg);
		/* 背景画像2を指定 */
		background-size: contain;
    	background-repeat: no-repeat;
    	background-position: center;
	}

	40% {
		background-image: url(../img/Imagelake.jpg);
		/* 背景画像1を指定 */
		background-size: contain;
    	background-repeat: no-repeat;
    	background-position: center;
	}

	60% {
		background-image: url(../img/Imagewa.jpg);
		/* 背景画像1を指定 */
		background-size: contain;
    	background-repeat: no-repeat;
    	background-position: center;
	}

	80% {
		background-image: url(../img/Imagesky.jpg);
		/* 背景画像1を指定 */
		background-size: contain;
    	background-repeat: no-repeat;
    	background-position: center;
	}

	100% {
		background-image: url(../img/Imagetemple.jpg);
		/* 背景画像1を指定 */
		background-size: contain;
    	background-repeat: no-repeat;
    	background-position: center;
	}
}

/*  20% {*/
/*    background-image: url(1019852_m.jpg);  背景画像2を指定 */
/*  }*/
/*  40% {*/
/*    background-image: url(sak0108-037.jpg);  背景画像1を指定 */
/*  }*/
/*  60% {*/
/*    background-image: url(sak0018-013.jpg);  背景画像1を指定 */
/*  }*/
/*  80% {*/
/*    background-image: url(but0109-044.jpg);  背景画像1を指定 */
/*  }*/
/*  100% {*/
/*    background-image: url(yam0036-013.jpg);  背景画像1を指定 */
/*  }*/
/*}*/

/* ヘッダー、ナビゲーション内リンク */
.hoge-box {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/*.hoge-box .child1 {*/
/*    width: calc(33.33% - 13px);*/
/*    margin-right: 20px;  nthで、3番目だけキャンセルさせる必要あり */
/*}*/

/*.hoge-box .child1:nth-child(3) {*/
/*    margin-right: 10px;*/
/*}*/

/* ヘッダー内見出し */
header h1 {
	font-family: Courier;
	font-size: 30pt;
	text-align: center;
	margin: 10px auto;
}

h1 {
	text-align: center;
}

/* 仕切り線 */
hr {
	border-top: 2px solid rgb(1, 26, 39);
}

/* メイン */
main {
	background-color: #FFFFFF;
	min-height: 50px;
	padding: 20px;
}

/* 表線 */
table,
th,
td {
	border-collapse: collapse;
	border: 1px solid #7d8bae;
}

/* 表 */
table {
	background-color: #FFFFFF;
	margin: 5px auto;
	min-width: 800px;
}

/* 表見出しセル */
table th {
	background: #7d8bae;
	color: #ffffff;
}

/* 送信ボタン */
button {
	/*	margin: 0px;*/
	/*	padding: 10px 20px;*/
	background-color: #e5857b;
	color: #ffffff;
	border: none;
	width: 150px;
	height: 35px;
	cursor: pointer;
}

.logout {
	background-color: #e5857b;
	color: #ffffff;
	border: none;
	width: 150px;
	height: 35px;
	cursor: pointer;
}

/* 送信ボタン(マウスオーバー時) */
button:hover {
	background-color: #f1b2b2;
}

#footer {
	background-image: url("p0113_m.jpg");
	position: absolute;
	/*変更*/
	bottom: 0;
	width: 100%;
	height: 100px;
}

.img {
	width: auto;
	height: 500px;
	object-fit: contain;
}

.btn-border {
  display: inline-block;
  max-width: 180px;
  text-align: left;
  border: 2px solid rgb(45, 66, 98);
  font-size: 16px;
  color: rgb(45, 66, 98);
  text-decoration: none;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 4px;
  transition: .4s;
}

.btn-border:hover {
  background-color: #128277;
  border-color: #128277;
  color: #FFF;
}

textarea {
	resize: vertical;
	width: 200px;
	height: 50px;
	background: rgba(255, 255, 255, 0.5);
	border-radius: 5px;
	border: 1px #FFF solid;
}