<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>予約情報検索</title>
	<link rel="stylesheet" type="text/css" href="/css/adminStyle.css"/>
</head>

<body>
	<main>
		<div>
			<form action="/admin/index/book" method="get">
				<input type="text" name="id" th:value="${id}" placeholder="宿ID">
				<button>検索</button>
			</form>
			<form action="/admin/index/book" method="get">
				<input type="text" name="inn" th:value="${userId}" placeholder="会員ID">
				<button>検索</button>
			</form>
			<form action="/admin/index/book" method="get">
				<input type="text" name="plan" th:value="${planId}" placeholder="プランID">
				<button>検索</button>
			</form>
		</div>

		<table border="1">
			<tr>
				<th>予約ID</th>
				<th>会員ID</th>
				<th>宿名</th>
				<th>宿ID</th>
				<th>プランID</th>
				<th>予約日</th>
				<th>チェックイン日</th>
				<th>チェックアウト日</th>	
				<th></th>
			</tr>
			<tr th:each="book:${books}">
				<td th:text="${book.id}"></td>
				<td th:text="${book.user.id}"></td>
				<td th:text="${book.inn.name}"></td>
				<td th:text="${book.inn.id}"></td>				
				<td th:text="${book.plan.id}"></td>
				<td th:text="${#dates.format(book.bookingDate, 'yyyy/MM/dd')}"></td>
				<td th:text="${#dates.format(book.inDate, 'yyyy/MM/dd')}"></td>
				<td th:text="${#dates.format(book.outDate, 'yyyy/MM/dd')}"></td>				
				<td>
					<form th:action="'/admin/edit/'+${book.id}+'/book'" method="get">
						<button>変更</button>
					</form>
				</td>
			</tr>
		</table>

	</main>

</body>

</html>