<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>AdminIndexUser</title>
</head>

<body>
	<form action="/admin/index/user" method="get">
		<input type="text" placeholder="会員Id">
		<button>検索</button>

		<table border="1">
			<tr>
				<th>会員ID</th>
				<th>氏名</th>
				<th>郵便番号</th>
				<th>住所</th>
				<th>電話番号</th>
				<th>メールアドレス</th>
				<th>生年月日</th>
				<th>入会年月日</th>
			</tr>
			<tr th:each="user:${users}">
				<td th:text="${user.id}"><a href="/admin/edit/{id}/user"></a></td>
				<td th:text="${user.name}"></td>
				<td th:text="${user.zipCode}"></td>
				<td th:text="${user.address}"></td>
				<td th:text="${user.tel}"></td>
				<td th:text="${user.birthday}"></td>
				<td th:text="${user.registration}"></td>
			</tr>
		</table>
</body>

</html>