<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>管理者ホーム画面</title>
	<link rel="stylesheet" type="text/css" href="/css/adminStyle.css" />
	<script src="https://kit.fontawesome.com/d9fdad14ab.js" crossorigin="anonymous"></script>
</head>

<style>
	span {
		text-align: center;
	}
</style>

<body>
	<header th:replace="adminHeader"></header>
	<hr>
	<span class="center">
		<main>
			<a href="/admin/index/Inn" i class="fa-solid fa-hotel"></i> 宿管理</a>
			<br>
			<br>
			<a href="/admin/index/book" i class="fa-solid fa-file-contract"></i> 予約管理</a>
			<br>
			<br>
			<a href="/admin/index/user" i class="fa-solid fa-user"></i> 会員管理</a>
		</main>

	</span>

<footer th:replace="adminFooter"></footer>

</body>

</html>