<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>予約確認</title>
</head>

<body>
	<header th:replace="header">
	</header>
	<br>
	<h1>予約内容の確認</h1>
	<br>
	<br>
	<table border="1">
		<tr>
			<th>宿名</th>
			<td th:text="${name}"></td>
		</tr>
		<tr>
			<th>予約人数</th>
			<td th:text="${adultNum}+${childNum}">
			</td>
		</tr>
		<tr>
			<th>予約人数の詳細</th>
			<td>
				大人<select name="adultNum" th:field="${adultNum}">
					<option value="0" selected>0</option>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
				</select>名

				子供<select name="childNum" th:field="${childNum}">
					<option value="0" selected>0</option>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
				</select>名
			</td>
		</tr>
		<tr>
			<th>チェックイン</th>
<!--			<td th:text="${#dates.format(inDate, 'yyyy/MM/dd')}">-->
<!--				<input type = "date" name = "inDate" th:value = "${inDate}">-->
			</input>
		</tr>
		<tr>
			<th>チェックアウト</th>
<!--			<td th:text="${#dates.format(inDate, 'yyyy/MM/dd')}">-->
<!--				<input type = "date" name = "outDate" th:value="${outDate}">-->
			</td>
		</tr>
		<tr>
			<th>決済方法</th>
			<td>
				<select name="paymentId" th:field="${paymentId}">
					<option value="0" selected>現金</option>
					<option value="1">クレジットカード</option>
				</select>
		    </td>
		</tr>
		</table>
		<form th:action="'/book/'+${id}" method="get">
		<button>キャンセル</button>
		</form>
		<form action="/book/confirm" method="post">
		<button>予約確定</button>
		</form>
</body>
</html>