<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<meta charset="UTF-8">
	<title>予約確認</title>
</head>

<body>
	<header th:replace="header"></header>
	<main>
		<h1>予約内容の確認</h1>
		<form action="/book/confirm" method="post">
			<table border="1">
				<tr>
					<th>お客様名</th>
					<td th:text="${@account.name}"></td>
				</tr>
				<tr>
					<th>宿名</th>
					<td th:text="${inn.name}"></td>
				</tr>
				<tr>
					<th>予約人数</th>
					<td th:text="${adultNum + childNum} + '名'">
					</td>
				</tr>
				<tr>
					<th>予約人数の詳細</th>
					<td>
						大人：[[${adultNum}]]名　子供：[[${childNum}]]名
					</td>
				</tr>
				<tr>
					<th>料金</th>
					<td th:text="${(adultNum + childNum) * plan.price} + '円'"></td>
				</tr>
				<tr>
					<th>チェックイン日</th>
					<td th:text="${inDate}">
						<input type="date" name="inDate" th:value="${inDate}"></input>
					</td>
				</tr>
				<tr>
					<th>チェックアウト日</th>
					<td th:text="${outDate}">
						<input type="date" name="outDate" th:value="${outDate}"></input>
					</td>
				</tr>
				<tr>
					<th>決済方法</th>
					<td>[[${payment.name}]]</td>
				</tr>

				<input type="hidden" name="innId" th:value="${inn.id}">
				<input type="hidden" name="planId" th:value="${plan.id}">
				<input type="hidden" name="adultNum" th:value="${adultNum}">
				<input type="hidden" name="childNum" th:value="${childNum}">
				<input type="hidden" name="inDate" th:value="${inDate}">
				<input type="hidden" name="outDate" th:value="${outDate}">
				<input type="hidden" name="paymentId" th:value="${payment.id}">
			</table>
			<br>
			<button>予約確定</button>
		</form>
		<br>
		<p th:text="${defaultInDate}"></p>
		<p th:text="${defaultOutDate}"></p>
		<form th:action="'/book/' + ${plan.id}" method="get">
			<input type="hidden" name="innId" th:value="${inn.id}">
			<input type="hidden" name="planId" th:value="${plan.id}">
			<input type="hidden" name="adultNum" th:value="${adultNum}">
			<input type="hidden" name="childNum" th:value="${childNum}">
			<input type="hidden" name="inDate" th:value="${inDate}">
			<input type="hidden" name="outDate" th:value="${outDate}">
			<input type="hidden" name="paymentId" th:value="${payment.id}">
			<button>キャンセル</button>
		</form>

	</main>
	<footer th:replace="footer"></footer>
</body>

</html>