<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<title>予約完了</title>
</head>

<body>
	<header th:replace="header">
	</header>
	<main>
		<br>
		<h1>予約が完了しました</h1>
		<br>
		<br>
		<table border="1">
			<th>
				<p>ご登録済みのメールアドレス宛に確認メールをお送りしました</p>
			</th>
		</table>

		<br>

		<form action="/" method="get">
			<button>戻る</button>
		</form>

	</main>
	<footer th:replace="footer"></footer>
</body>

</html>