<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<meta charset="UTF-8">
	<title>予約中の情報</title>
</head>

<body>
	<header th:replace="header">
	</header>
	<br>
	<table border="1">
		<tr>
			<th>宿名</th>
			<th colspan="2">人数</th>
			<th>チェックイン</th>
			<th>チェックアウト</th>
			<th>キャンセル</th>
		</tr>

		<tr th:each="book:${book}">
			<td>
				<th:text="${book.inn.name}">
			</td>

			<td>
				<th:text="${book.adultNum}">
			</td>

			<td>
				<th:text="${book.childNum}">
			</td>

			<td>
				<th:text="${book.inDate}">
			</td>

			<td>
				<th:text="${book.outDate}">
			</td>

			<td>
				<form th:action="'@{/mypage/booked/{id}/cancel}'" method="post" onsubmit="return fmConfirm()">

					<button class="btn_07">キャンセル</button>
				</form>

				<script>
					function fmConfirm() {
						if (confirm('予約をキャンセルしてしてよろしいですか？')) {
							return true;
						} else {
							window.alert('動作が中止されました');
							return false;
						}
					}
				</script>
			</td>
		</tr>
	</table>
	<form action="/mypage" method="get">
		<button>閉じる</button>
	</form>
</body>

</html>