<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<meta charset="UTF-8">
	<title>宿詳細</title>
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
	<link rel="stylesheet" type="text/css" href="/css/detailInn.css">
</head>

<body>
	<header th:replace="header"></header>

	<h1 th:text="${inn.name}"></h1>

	<ul class="slider">
		<li th:each="photo:${photos}">
			<img th:src="${photo.photoUrl}" alt="宿の写真">
		</li>
	</ul>

	<table border="1">
		<tr>
			<!--			<th></th>-->
			<th>プラン</th>
			<th>金額</th>
			<th></th>
		</tr>
		<tr th:each="plan:${plans}">
			<!--			<td>-->
			<!--				<input type="radio" name="planId" value="1">-->
			<!--			</td>-->
			<td th:text="${plan.name}"></td>
			<td th:text="${plan.price}+'円'"></td>
			<td style="width: 30px;">
				<form th:action="'/book/'+${plan.id}" method="get">
					<button>予約へ進む</button>
				</form>
			</td>
		</tr>
	</table>

	<table border="2">
		<tr>
			<th>評価</th>
			<td th:text="${#numbers.formatDecimal(rank, 0, 'COMMA' ,1 , 'POINT')} + '点'"></td>
		</tr>
	</table>
	<table>
		<tr th:each="review:${reviews}">
			<td th:text="${review.rankId} + '点'">
			<td th:if="${review.content} != ''" th:text="${review.content}"></td>
			<td th:if="${review.content} == ''" th:text="コメントはありません"></td>
		</tr>
	</table>

	<form th:action="'/review/add/'+${inn.id}" method="post">
		<table border="1">
			<tr>
				<th>評価</th>
				<td>
					<input type="radio" name="rankId" value="1">1
					<input type="radio" name="rankId" value="2">2
					<input type="radio" name="rankId" value="3">3
					<input type="radio" name="rankId" value="4">4
					<input type="radio" name="rankId" value="5">5
				</td>
				<td><textarea name="content"></textarea></td>
			</tr>
		</table>
		<button>投稿</button>
	</form>

	<script src="https://code.jquery.com/jquery-3.4.1.min.js"
		integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous">
	</script>
	<script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js">
	</script>
	<!--自作のJS-->
	<script src="/js/detailInn.js"></script>

</body>

</html>