<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>宿情報編集</title>
	<link rel="stylesheet" type="text/css" href="/css/adminStyle.css" />
</head>

<body>
	<header th:replace="adminHeader"></header>
	</header>
	<br>
	<main>
		<form th:action="'/admin/edit/'+${inn.id}+'/inn'" method="post">
			<table border="1">
				<tr>
					<th>No</th>
					<td th:text="${inn.id}"></td>
				</tr>

				<tr>
					<th>宿種別</th>
					<td><select name="categoryId">
							<option th:value="${category.id}" th:each="category:${categories}">[[${category.name}]]
							</option>
						</select>
					</td>
				</tr>

				<tr>
					<th>宿名</th>
					<td><input type="text" name="name" required oninvalid="this.setCustomValidity('宿名を入力してください。')"
							onchange="this.setCustomValidity('')" minlength="1" maxlength="100" th:value="${inn.name}">
					</td>
				</tr>

				<tr>
					<th>郵便番号</th>
					<td><input type="tel" name="zipCode" required oninvalid="this.setCustomValidity('郵便番号を入力してください。')"
							onchange="this.setCustomValidity('')" minlength="7" maxlength="7" th:value="${inn.zipCode}">
					</td>
				</tr>

				<tr>
					<th>都県</th>
					<td><select name="prefectureId">
							<option th:value="${prefecture.id}" th:each = "prefecture:${prefectures}" >[[${prefecture.name}]]</option>
						</select>
					</td>
				</tr>

				<tr>
					<th>住所</th>
					<td><input type="text" name="address" minlength="1" required
							oninvalid="this.setCustomValidity('住所を入力してください。')" onchange="this.setCustomValidity('')"
							maxlength="50" th:value="${inn.address}"></td>
				</tr>

				<tr>
					<th>電話番号</th>
					<td><input type="tel" required oninvalid="this.setCustomValidity('電話番号を入力してください。')"
							onchange="this.setCustomValidity('')" minlength="10" maxlength="11" name="tel"
							th:value="${inn.tel}"></td>
				</tr>

				<tr>
					<th>宿の写真1</th>
					<td><input type="url" name="photo1" placeholder="URL" th:value="${photo1.photoUrl}"></td>
				</tr>
				<tr>
					<th>宿の写真2</th>
					<td><input type="url" name="photo2" placeholder="URL" th:value="${photo2.photoUrl}"></td>
				</tr>

				<tr>
					<th>宿の写真3</th>
					<td><input type="url" name="photo3" placeholder="URL" th:value="${photo3.photoUrl}"></td>
				</tr>
				
				<tr>
					<td colspan="2">
						<input type="checkbox" id="hotSpring" name="hotSpring">
						<label for="hotSpring">温泉有り</label>
						
						<input type="checkbox" id="walk" name="walk">
						<label for="walk">駅から徒歩5分</label>
						
						<input type="checkbox" id="highClass" name="highClass">
						<label for="highClass">ハイクラス</label>
					</td>
				</tr>
			</table>

			<input type="hidden" name="photo1Id" th:value="${photo1.id}">
			<input type="hidden" name="photo2Id" th:value="${photo2.id}">
			<input type="hidden" name="photo3Id" th:value="${photo3.id}">

			<a class="position">
			<div class="button011">
				<button>変更</button>
			</div>
		</form>

		<form th:action="'/admin/inn/'+${inn.id}+'/delete'" method="post" onsubmit="return fmConfirm()">
			<a class="position">
			<div class="button012">
				<button>削除</button>
			</div>
		</form>


		<div th:each="plan : ${plans}">
			<form th:action="'/admin/plan/edit' + ${plan.id} + '&' + ${inn.id}" method="post">
				<table border="1">
					<tr>
						<th colspan="2">プラン情報</th>
					</tr>

					<tr>
						<th>名前</th>
						<td><input type="text" th:value="${plan.name}" required
								oninvalid="this.setCustomValidity('プラン名を入力してください。')"
								onchange="this.setCustomValidity('')" minlength="1" maxlength="100" name="planName">
						</td>
					</tr>

					<tr>
						<th>金額</th>
						<td><input type="text" th:value="${plan.price}" required
								oninvalid="this.setCustomValidity('金額を入力してください。')" onchange="this.setCustomValidity('')"
								name="price"></td>
					</tr>
				</table>

				<a class="position">
				<div class="button011">
					<button>変更</button>
				</div>
			</form>

			<form th:action="'/admin/plan/'+${plan.id}+'/delete/'+${inn.id}" method="post" onsubmit="return fmConfirm()">
				<a class="position">
				<div class="button012">
					<button>削除</button>
				</div>
			</form>
		</div>

		<form th:action="'/admin/plan/' + ${inn.id} + '/add'" method="post">
			<table border="1">
				<tr>
					<th colspan="2">プランの追加</th>
				</tr>

				<tr>
					<th>名前</th>
					<td><input type="text" required oninvalid="this.setCustomValidity('プラン名を入力してください。')"
							onchange="this.setCustomValidity('')" minlength="1" maxlength="100" name="planName">
					</td>
				</tr>

				<tr>
					<th>金額</th>
					<td><input type="text" required oninvalid="this.setCustomValidity('金額を入力してください。')"
							onchange="this.setCustomValidity('')" name="price"></td>
				</tr>
			</table>
			
			<a class="position">
			<div class="button011">
				<button>登録</button>
			</div>
		</form>
	</main>
</body>

<script>
	function fmConfirm() {
		if (confirm('削除してよろしいですか？')) {
			return true;
		} else {
			window.alert('キャンセルされました');
			return false;
		}
	}
</script>

<footer th:replace="adminFooter"></footer>
</html>