<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>宿情報編集</title>
	<link rel="stylesheet" type="text/css" href="/css/adminStyle.css" />
</head>

<body>
	<header th:replace="header">
	</header>
	<br>
	<main>
		<form th:action="'/admin/edit/'+${inn.id}+'/inn'" method="post">
			<table border="1">
				<tr>
					<th>No</th>
					<td th:text="${inn.id}"></td>
				</tr>
				<tr>
					<th>宿種別</th>
					<td><input type="number" name="categoryId" required oninvalid="this.setCustomValidity('宿種別を入力してください。')" onchange="this.setCustomValidity('')" max="8" th:value="${inn.categoryId}"></td>
				</tr>
				<tr>
					<th>宿名</th>
					<td><input type="text" name="name" required oninvalid="this.setCustomValidity('宿名を入力してください。')" onchange="this.setCustomValidity('')" minlength="1" maxlength="100" th:value="${inn.name}"></td>
				</tr>
				<tr>
					<th>郵便番号</th>
					<td><input type="tel" name="zipCode" required oninvalid="this.setCustomValidity('郵便番号を入力してください。')" onchange="this.setCustomValidity('')" minlength="7" maxlength="7" th:value="${inn.zipCode}"></td>
				</tr>
				<tr>
					<th>住所</th>
					<td><input type="text" name="address" minlength="1" required oninvalid="this.setCustomValidity('住所を入力してください。')" onchange="this.setCustomValidity('')" maxlength="50" th:value="${inn.address}"></td>
				</tr>
				<tr>
					<th>電話番号</th>
					<td><input type="tel" required oninvalid="this.setCustomValidity('電話番号を入力してください。')" onchange="this.setCustomValidity('')" minlength="10" maxlength="11" name="tel" th:value="${inn.tel}"></td>
				</tr>
				<!--			<tr>-->
				<!--				<th>メールアドレス</th>-->
				<!--				<td></td>-->
				<!--			</tr>-->
				<tr>
					<th>宿の写真</th>
					<td><input type="url" name="photo1" placeholder="URL" required oninvalid="this.setCustomValidity('URLを入力してください。')" onchange="this.setCustomValidity('')" th:value="${photo1.photoUrl}"></td>
				</tr>
				<tr>
					<th>宿の写真</th>
					<td><input type="url" name="photo2" placeholder="URL" required oninvalid="this.setCustomValidity('URLを入力してください。')" onchange="this.setCustomValidity('')" th:value="${photo2.photoUrl}"></td>
				</tr>
				<tr>
					<th>宿の写真</th>
					<td><input type="url" name="photo3" placeholder="URL" required oninvalid="this.setCustomValidity('URLを入力してください。')" onchange="this.setCustomValidity('')" th:value="${photo3.photoUrl}"></td>
				</tr>
<!--				<tr th:each="photo:${photos}">-->
<!--					<th>宿の写真</th>-->
<!--					<td><input type="url" name="photo" placeholder="URL" th:value="${photo.photoUrl}"></td>-->
<!--				</tr>-->
			</table>
			<table border="1">
				<tr>
					<th></th>
					<td></td>
				</tr>
				<tr>
					<th></th>
					<td></td>
				</tr>
			</table>
			<button>変更</button>
		</form>
		<form action="'/admin/inn/'+{inn.id}+'/delete'" method="post" onsubmit="return fmConfirm()">
			<button>削除</button>
		</form>
	</main>
</body>
<script>
	function fmConfirm() {
		if (confirm('削除してよろしいですか？')) {
			return true;
		} else {
			window.alert('キャンセルされました');
			return false;
		}
	}
</script>

</html>