<header>
	<div class="hoge-box">

<!--		<div style="width: 164px;">-->

<!--		</div>-->

		<div>
			<a href="/"><img src="/images/C1TravelLogo.png" style="width: 120pt;"></a>
		</div>

		<div>
			<span th:if="${@account.id}" th:text="${@account.name}+' さんがログイン中'"></span>
			<span th:if="${@account.id}==null" >こんにちは♪ゲストさん</span>
<!--			<form th:if="${@account.id}" action="/logout" method="get" onsubmit="return LogoutConfirm()">-->
<!--				<button class="logout">ログアウト</button>-->
<!--			</form>-->
<!--			<form th:if="${@account.id}==null" action="/login" method="get" >-->
<!--				<button class="logout">ログイン</button>-->
<!--			</form>-->
			<a th:if="${@account.id}" href="/logout" onsubmit="return LogoutConfirm()">ログアウト</a>
			<a th:if="${@account.id}==null" href="/login">ログイン</a>
		</div>
		<a href="/mypage">マイページ</a>


	</div>

	<hr class="style1">
	<script>
		function LogoutConfirm() {
			if (confirm('ログアウトしてよろしいですか？')) {
				return true;
			} else {
				return false;
			}
		}
	</script>
</header>