<header>
	<div class="hoge-box">	
		
		<div style="width: 164px;">
			
		</div> 
		
		<div>
			<h1>C1 Travel</h1>
		</div>

		<div>
			<span th:text="${@account.name}+' さんがログイン中'"></span>
			<form action="/logout" method="get" onsubmit="return LogoutConfirm()">
				<button class="logout">ログアウト</button>
			</form>
			<a href="/mypage">マイページ</a>
		</div>
		
	</div>

	<hr class="style1">
	<script>
		function LogoutConfirm() {
			if (confirm('ログアウトしてよろしいですか？')) {
				return true;
			} else {
				window.alert('キャンセルされました');
				return false;
			}
		}
	</script>
</header>