<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<meta charset="UTF-8">
	<title>ホーム画面</title>
</head>

<body>
	<header th:replace="header"></header>
	<div class="box">
		<img src="sak0016-013.jpg">
		<img src="Image20240612135245.jpg">
		<img src="Image20240612133235.jpg">
		<img src="sak0018-013.jpg">
		<img src="but0109-044.jpg">
		<img src="yam0036-013.jpg">
	</div>
	
	<div>
		<table border="1">
			<tr>
				<th colspan = "2">宿ランキング</th>
			</tr>
			
			<tr th:each="rank, i:${ranking}">
				<td><a th:text = "'第' + ${i.index + 1} + '位'"></a></td>
				<td><a th:href="@{/detail/{id}(id=${rank.id})}">[[${rank.name}]]</a></td>
			</tr>
		</table>
	</div>
	
	<div>
		<form action="/" method="get">
			<input type="text" name="keyword" th:value="${keyword}" placeholder="例：満点の星">
			<button>検索</button>
		</form>
		
		<table border="1" >
				<tr>
					<th>宿名</th>
					<th>住所</th>
				</tr>
				<tr th:each="inn:${inns}">
					<td><a th:href="@{/detail/{id}(id=${inn.id})}">[[${inn.name}]]</a></td>
					<td th:text="${inn.address}"></td>
				</tr>
		</table>
	</div>
	
</body>

</html>