<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>会員メニュー</title>//登根担当
</head>

<body>
	<header th:replace="header"></header>
	
	<h1>会員メニュー</h1>
	<form th:action="/users/create" method="post">
		<button>会員情報の変更</button>
	</form>

	<form th:action="/mypage/booked" method="post">
		<button>予約中</button>
	</form>

	<form th:action="/mypage/booked/history" method="post">
		<button>予約履歴</button>
	</form>

	<form th:action="/logout" method="post">
		<button>ログアウト</button>
	</form>

	<form th:action="'/mypage/users/{id}/delete'" method="post" onsubmit="return fmConfirm()">

		<button class="btn_07">退会</button>
	</form>

	<script>
		function fmConfirm() {
			if (confirm('退会してよろしいですか？')) {
				return true;
			} else {
				window.alert('キャンセルされました');
				return false;
			}
		}
	</script>
</body>

</html>