<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>管理者・予約変更</title>
	<link rel="stylesheet" type="text/css" href="/css/adminStyle.css"/>
</head>
<!--登根担当-->
<body>
	<form th:action="'/admin/edit/'+${book.id}+'/book'" method="post">
		
		<table border="1">
			<tr>
				<th>会員ID</th>
				<td th:text="${book.user.id}">
					
				</td>
				<input type="hidden" name="userId" th:value="${book.user.id}">
			</tr>

			<tr>
				<th>宿ID</th>
				<td th:text="${book.inn.id}">
					
				</td>
				<input type="hidden" name="innId" th:value="${book.inn.id}">
			</tr>

			<tr>
				<th>プランID</th>
				<td th:text="${book.plan.id}">
				
				</td>
					<input type="hidden" name="planId" th:value="${book.plan.id}">
			</tr>

			<tr>
				<th>大人の人数</th>
				<td>
					<select name="adult" th:field="${book.adultNum}">
						<option value="0">0</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
					</select>名
				</td>
			</tr>

			<tr>
				<th>子供の人数</th>
				<td>
					<select name="child" th:field="${book.childNum}">
						<option value="0">0</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
					</select>名
				</td>
			</tr>

			<tr>
				<th>チェックイン</th>
				<td>
					<input type="date" name="inDate" th:value="${#dates.format(book.inDate, 'yyyy-MM-dd')}">
				</td>
			</tr>

			<tr>
				<th>チェックアウト</th>
				<td>
					<input type="date" name="outDate" th:value="${#dates.format(book.outDate, 'yyyy-MM-dd')}">
				</td>
			</tr>

			<tr>
				<th>決済方法</th>
				<td>
					<select name="paymentId" th:value="${book.payment.id}">
						
						<option value="1" th:selected="${book.payment.id == 1}">現金</option>
						<option value="2" th:selected="${book.payment.id == 2}">クレジットカード</option>
					</select>
				</td>
			</tr>

			<tr>
				<th>予約した日付</th>
				<td>
					<input type="date" name="bookingDate" th:value="${#dates.format(book.bookingDate, 'yyyy-MM-dd')}">
				</td>
			</tr>
		</table>

		<button>変更</button>
	</form>

	<form th:action="'/admin/users/'+${book.id}+'/delete'" method="post" onsubmit="return fmConfirm()">

		<button>削除</button>
	</form>

	<script>
		function fmConfirm() {
			if (confirm('削除してよろしいですか？')) {
				return true;
			} else {
				window.alert('キャンセルされました');
				return false;
			}
		}
	</script>
</body>

</html>